{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}

{% set spriteSrc = base_path ~ directory ~ '/stories/01-atoms/svg/sprite.svg' %}

{% set icon %}
{% include '@atoms/svg/svg.twig' with {
    'sprite': spriteSrc,
    'icon': 'chevron-left',
  } %}
{% endset %}

{% include '@molecules/back-link/back-link.twig' with {
  label: 'Back',
  icon: icon,
  link: link,
  variant: 'default'
} %}

<span id="main-content"></span>

{{ form }}