<div id="pdf-print-wrapper">
  <table class="branding">
    <tr>
      <td><img src="/themes/custom/dhsc_theme/assets/images/logo.jpg"></td>
      <td>{{ 'Digitising Social Care'|t }}</td>
    </tr>
  </table>
  <h2>{{'Result summary'|t }}</h2>
  {{ content }}
</div>
