{% set classes = [
  'o-footer-region-bottom',
] %}
<section{{ attributes.addClass(classes) }}>
  {% if title %}
    <div class="o-footer-region-bottom__header container mx-auto w-full py-4">
      <h3>{{ title }}</h3>
    </div>
  {% endif %}
  <div class="o-footer-region-bottom__content container mx-auto w-full py-4 tablet:flex tablet:gap-4">
    {% if content is iterable  %}
      {% for item in content %}
        {{ item }}
      {% endfor %}
    {% else %}
      {{ content }}
    {% endif %}
  </div>
</section>
