{% set classes = [
  'o-footer-region-top',
  'tablet:pt-6'
] %}
<section{{ attributes.addClass(classes) }}>
  {% if title %}
    <div class="o-footer-region-top__header container mx-auto w-full">
      <h3>{{ title }}</h3>
    </div>
  {% endif %}
  <div class="o-footer-region-top__content container gap-[1.25rem] tablet:gap-[1.875rem] mx-auto w-full tablet:pt-6 tablet:pb-[3.75rem] flex flex-col tablet:flex-row">
    {% if content is iterable  %}
      {% for item in content %}
        {{ item }}
      {% endfor %}
    {% else %}
      {{ content }}
    {% endif %}
  </div>
</section>
