<div class="m-featured-links">
  <h3 class="text-md text-bold mt-4">{{ 'Quick links'|t }}</h3>
  {% if links %}
  <ul class="py-4">
    {% for link in links %}
    <li class="mb-2">
      <a href="{{ link.url }}" class="block underline text-green hover:no-underline mb-2">{{ link.title }}</a>
      {% if link.description %}
        <div class="block text-coolgrey">{{ link.description }}</div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
