{# Classes #}
{% set classes = [
  'm-video',
] | sort | join(' ') | trim %}

{# Template #}
<div {{ attributes.addClass(classes) }}>
  {% if header %}
    <h2 class="relative flex items-center">{{ header }}</h2>
  {% endif %}

  {% if description %}
    <div class="m-video__description mb-4 text-secondary-500 text-base">
      {{ description }}
    </div>
  {% endif %}

  <div class="m-video__content aspect-w-16 aspect-h-9">
    {{ video }}
  </div>
</div>
