<form class="webform-submission-form webform-submission-add-form webform-submission-newsletter-signup-form webform-submission-newsletter-signup-add-form js-webform-details-toggle webform-details-toggle contextual-region" data-drupal-selector="webform-submission-newsletter-signup-add-form" action="/form/newsletter-signup" method="post" id="webform-submission-newsletter-signup-add-form" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-name,edit-email,edit-actions-submit">
	<div role="contentinfo" aria-label="Status message" class="messages messages--status">
		Subscribed!
	</div>
	<div class="js-form-item form-item js-form-type-textfield form-item-name js-form-item-name">
		<label for="edit-name">Name</label>
		<input data-drupal-selector="edit-name" type="text" id="edit-name" name="name" value="" size="60" maxlength="255" class="form-text">
	</div>
	<div class="js-form-item form-item js-form-type-email form-item-email js-form-item-email">
		<label for="edit-email" class="js-form-required form-required">Email</label>
		<input data-drupal-selector="edit-email" type="email" id="edit-email" name="email" value="" size="60" maxlength="254" class="form-email required" required="required" aria-required="true">
	</div>
	<div data-drupal-selector="edit-actions--DgkL2kDc_9Q" class="form-actions webform-actions js-form-wrapper form-wrapper" id="edit-actions--DgkL2kDc_9Q">
		<input class="webform-button--submit button button--primary js-form-submit form-submit" data-drupal-selector="edit-actions-submit" type="submit" id="edit-actions-submit" name="op" value="Sign up">
	</div>
	<input autocomplete="off" data-drupal-selector="form-nwdfak24ltp-qmpqmfgscetmuxcudqiw0w-39k6veus" type="hidden" name="form_build_id" value="form-nWdFAK24Ltp_QmPQmFgSCetmUXCUdqIW0w_39k6veus">
	<input data-drupal-selector="edit-webform-submission-newsletter-signup-add-form-form-token" type="hidden" name="form_token" value="jnjXgqMYA5yFjexj4lwOxoc-0xmEeOUVfbhfcu15cCw">
	<input data-drupal-selector="edit-webform-submission-newsletter-signup-add-form" type="hidden" name="form_id" value="webform_submission_newsletter_signup_add_form">
</div></form>
