.o-exposed-filters {
  .form-actions {
    @apply order-1;
  }
  .form-submit {
    @apply text-forest-100 underline hover:no-underline cursor-pointer;
  }

  .a-form-item--checkbox {
    [type=checkbox] {
      @apply h-[15px] w-[15px] border-2 ml-1 mt-[3px];
      background-size: 100%;

      &:checked {
        @apply bg-white text-black;
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.4688 0.5L5.375 6.5L2.53125 3.7L0.5 5.7L5.375 10.5L13.5 2.5L11.4688 0.5Z' fill='currentColor'/%3E%3C/svg%3E%0A");
        background-size: 10px;
      }
    }
  }
}