{# Classes #}
{% set icon_classes = [
  'w-4 h-4 rotate-90 transition mt-1',
] | sort | join(' ') | trim %}

{% set classes = [
  'block p-4 pl-6 pr-16 cursor-pointer',
] | sort | join(' ') | trim %}
{% set attributes = attributes.addClass(classes) %}

{# Template #}
<div class="m-accordion-item" x-data="{ isOpen: false }">
  <div class="m-accordion-item__control">
    <a href="#" class="m-accordion-item__trigger text-base text-forest focus:text-black" :aria-expanded="isOpen" @click.prevent="isOpen = ! isOpen"  :class="{ 'mb-3': isOpen }">
      <span x-show="isOpen" class="h-5 w-5 mr-2">{{ icon_close }}</span>
      <span x-show="!isOpen" class="h-5 w-5 mr-2">{{ icon_open }}</span>
      <span class="m-accordion-item__title">{{ title }}</span>
    </a>
  </div>
  <div class="m-accordion-item__panel" x-show="isOpen">
    <div class="m-accordion-item__content prose">{{ text }}</div>
  </div>
</div>
