{# Classes #}
{% set classes = [
  'o-accordion',
] | sort | join(' ') | trim %}

{# Template #}
<div{{ attributes.addClass(classes) }}>
  <div class="o-accordion__container">
    {% if header %}
      <h2 class="text-black_heading">{{ header }}</h2>
    {% endif %}
    {% if items is iterable %}
      {% for key, item in items %}
        {% if key|first != '#' %}
          {{ item }}
        {% endif %}
      {% endfor %}
    {% else %}
      {{ items }}
    {% endif %}
  </div>
</div>

