{# Classes #}
{% set classes = [
  'o-accordion',
] | sort | join(' ') | trim %}

{# Template #}
<div{{ attributes.addClass(classes) }}>
  <div class="o-accordion__container">
    {% if header %}
      <h2 class="mb-4 text-2xl md:text-4xl text-black_heading">{{ header }}</h2>
    {% endif %}
    {% if items is iterable %}
      {% for key, item in items if key|first != '#' %}
        {{ item }}
      {% endfor %}
    {% else %}
      {{ items }}
    {% endif %}
  </div>
</div>

