{% set classes = [
  'o-navigation-region',
  'o-navigation-region--primary',
  'bg-green-20 text-black'
] | sort | join(' ') | trim %}

{% set attributes = attributes
  .addClass(classes)
%}

<section{{ attributes }}>
  <div class="container mx-auto w-full py-4">
    {{ content }}
  </div>
</section>
