{#
  Template
#}
<section class="m-banner--primary">
	<div class="m-banner__image">
		{{ image }}
	</div>
	{% if url %}
		<a class="m-banner__link" href="{{ url }}">
		{% endif %}
		<div class="m-banner__content bg-green text-white">
			<h2 class="text-display text-bold">{{ heading }}</h2>
			<p>{{ text }}</p>
		</div>
		{% if url %}
		</a>
	{% endif %}
</section>
