<div class="m-active-filter__wrapper">
  {% if links|length > 0 %}
    {% for link in links %}
      <a class="m-active-filter m-active-filter-js inline-block border border-black-60 rounded-md p-2 mr-3 mb-3 no-underline transition hover:bg-black-20" href="#" data-target="{{ link.target }}">
        <div class="flex flex-row flex-nowrap">
          <svg class="inline-block" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M13.4099 12.0002L18.7099 6.71019C18.8982 6.52188 19.004 6.26649 19.004 6.00019C19.004 5.73388 18.8982 5.47849 18.7099 5.29019C18.5216 5.10188 18.2662 4.99609 17.9999 4.99609C17.7336 4.99609 17.4782 5.10188 17.2899 5.29019L11.9999 10.5902L6.70994 5.29019C6.52164 5.10188 6.26624 4.99609 5.99994 4.99609C5.73364 4.99609 5.47824 5.10188 5.28994 5.29019C5.10164 5.47849 4.99585 5.73388 4.99585 6.00019C4.99585 6.26649 5.10164 6.52188 5.28994 6.71019L10.5899 12.0002L5.28994 17.2902C5.19621 17.3831 5.12182 17.4937 5.07105 17.6156C5.02028 17.7375 4.99414 17.8682 4.99414 18.0002C4.99414 18.1322 5.02028 18.2629 5.07105 18.3848C5.12182 18.5066 5.19621 18.6172 5.28994 18.7102C5.3829 18.8039 5.4935 18.8783 5.61536 18.9291C5.73722 18.9798 5.86793 19.006 5.99994 19.006C6.13195 19.006 6.26266 18.9798 6.38452 18.9291C6.50638 18.8783 6.61698 18.8039 6.70994 18.7102L11.9999 13.4102L17.2899 18.7102C17.3829 18.8039 17.4935 18.8783 17.6154 18.9291C17.7372 18.9798 17.8679 19.006 17.9999 19.006C18.132 19.006 18.2627 18.9798 18.3845 18.9291C18.5064 18.8783 18.617 18.8039 18.7099 18.7102C18.8037 18.6172 18.8781 18.5066 18.9288 18.3848C18.9796 18.2629 19.0057 18.1322 19.0057 18.0002C19.0057 17.8682 18.9796 17.7375 18.9288 17.6156C18.8781 17.4937 18.8037 17.3831 18.7099 17.2902L13.4099 12.0002Z" fill="#101820"/>
          </svg>
          <span class="m-active-filter__text inline-block leading-6 text-black">
            <span class="sr-only">{{ 'Remove '|t }}</span>
            {{ link.title }}
            <span class="sr-only">{{ ' filter'|t }}</span>
          </span>
      </div>
      </a>
    {% endfor %}
  {% endif %}
</div>
