<section>
  <h2>Form elements</h2>
  <div class="a-form-item">
    <fieldset>
      <legend class="text-base mb-2">Choose your options:</legend>
      <div class="a-form-item--checkbox">
        <input type="checkbox" id="option-1" name="option-1" checked>
        <label for="option-1">Option 1</label>
      </div>
      <div class="a-form-item--checkbox">
        <input type="checkbox" id="option-2" name="option-2">
        <label for="option-2">Option 2</label>
      </div>
    </fieldset>
  </div>
  <div class="a-form-item">
    <fieldset>
      <legend class="text-base mb-2">Select an option:</legend>
      <div class="a-form-item--radio">
        <input type="radio" id="option-a" name="option" value="option-a" checked>
        <label for="option-a">Option A</label>
      </div>
      <div class="a-form-item--radio">
        <input type="radio" id="option-b" name="option" value="option-b">
        <label for="option-b">Option B</label>
      </div>
      <div class="a-form-item--radio">
        <input type="radio" id="option-c" name="option" value="option-c">
        <label for="option-c">Option C</label>
      </div>
    </fieldset>
  </div>
</section>
