<nav class="text-black">
  <div class="nav__container container mx-auto w-full">
    <ul class="menu menu--footer">
      <li class="menu-item">
        <a href="http://google.com/" target="_blank">Google</a>
      </li>
      <li class="menu-item">
        <a href="/nulla-neque-dolor-sagittis-eget" data-drupal-link-system-path="node/1">Nulla neque dolor sagittis eget</a>
      </li>
      <li class="menu-item">
        <a href="http://gov.uk">gov.uk</a>
      </li>
    </ul>
  </div>
</nav>
