<div class="lgd-header">
	<div class="lgd-region--primary-menu">
		<ul class="menu menu--main">
			<li class="menu-item">
				<a href="https://www.google.com/">Google</a>
			</li>
			<li class="menu-item">
				<a href="/nulla-neque-dolor-sagittis-eget" data-drupal-link-system-path="node/1">Nulla neque dolor sagittis eget</a>
			</li>
			<li class="menu-item">
				<a href="https://www.gov.uk">gov.uk</a>
			</li>
		</ul>
	</div>
</div>