{% set classes = [
  'm-menu m-menu--footer',
  'text-black'
] %}

{% if items %}
<nav{{ attributes.addClass(classes) }}>
  <div class="m-menu__container w-full">
    {% if title %}
      <h3>{{ title }}</h3>
    {% endif %}
    <ul class="m-menu__links pb-4 tablet:pb-0">
      {% for item in items %}
      <li class="m-menu__item">
        <a href="{{ item.url }}" target="_blank" class="underline hover:no-underline">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% endif %}
