<div class="lgd-footer">
	<div class="lgd-footer__pre-footer">
		<div class="lgd-row">

			<div class="lgd-row__one-third">
				<ul class="menu menu--footer">
					<li class="menu-item">
						<a href="http://google.com/" target="_blank">Google</a>
					</li>
					<li class="menu-item">
						<a href="/nulla-neque-dolor-sagittis-eget" data-drupal-link-system-path="node/1">Nulla neque dolor sagittis eget</a>
					</li>
					<li class="menu-item">
						<a href="http://gov.uk">gov.uk</a>
					</li>
				</ul>
			</div>
			<div class="lgd-row__one-third">
				<ul class="menu menu--footer">
					<li class="menu-item">
						<a href="http://google.com/" target="_blank">Google</a>
					</li>
					<li class="menu-item">
						<a href="/nulla-neque-dolor-sagittis-eget" data-drupal-link-system-path="node/1">Nulla neque dolor sagittis eget</a>
					</li>
					<li class="menu-item">
						<a href="http://gov.uk">gov.uk</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
