{% set classes = [
  'm-menu m-menu--footer',
  'text-black'
] %}

{% if items %}
<nav{{ attributes.addClass(classes) }}>
  <div class="m-menu__container w-full">
    <ul class="m-menu__links pb-4 tablet:grid grid-cols-2 tablet:gap-3 tablet:justify-end pb-2">
      {% for item in items %}
      <li class="m-menu__item mb-2 tablet:mb-0">
        <a href="{{ item.url }}" class="text-2xs tablet:text-xs">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% endif %}
