{% set classes = [
  'm-menu m-menu--footer',
  'text-black'
] %}

{% if items %}
<nav{{ attributes.addClass(classes) }}>
  <div class="m-menu__container w-full">
    {% if title %}
      <h3 class="text-base mb-2">{{ title }}</h3>
    {% endif %}
    <ul class="m-menu__links pb-4 tablet:flex tablet:gap-6 tablet:justify-end tablet:pb-0">
      {% for item in items %}
      <li class="m-menu__item mb-2 tablet:mb-0">
        <a href="{{ item.url }}" target="_blank" class="text-xs">{{ item.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% endif %}
