<nav class="m-menu m-menu__footer text-black">
  <div class="m-menu__container w-full">
    <ul class="m-menu__links">
      <li class="m-menu__item">
        <a href="http://google.com/" target="_blank">Google</a>
      </li>
      <li class="m-menu__item">
        <a href="/nulla-neque-dolor-sagittis-eget" data-drupal-link-system-path="node/1">Nulla neque dolor sagittis eget</a>
      </li>
      <li class="m-menu__item">
        <a href="http://gov.uk">gov.uk</a>
      </li>
    </ul>
  </div>
</nav>
