<!DOCTYPE html>
<html lang="{{ language.language_code|default('en') }}">
<head>
  <style type="text/css">
    {{ css }}
   </style>
   <title>{{ title }}</title>
</head>
<body class="pdf">
	{{ content }}
</body>
</html>
