{% set classes = [
  'm-copyright',
  'py-4',
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="m-copyright__container">
    <div class="m-copyright__text">
      <p>{{ text }}</p>
    </div>
  </div>
</div>
