.alert {
  @apply w-[100vw];
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);
  border: none;
  background-color: unset;
}

.alert-dsc-info {
  .m-alert {
    &__wrapper {
      @apply bg-yellow-20;
    }

    &__content {
      a {
        @apply text-forest;
      }
    }
  }
}
