.alert {
  @apply w-[100vw];
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.15);

  .alert-dsc-info {
    .m-alert {
      &__wrapper {
        @apply bg-green-20;
      }

      &__content {
        a {
          @apply text-forest;
        }
      }
    }
  }
}
