{% set classes = [
  'm-alert',
]| join(' ') | trim %}

<div{{ attributes.addClass(classes) }} role="alert">
  <div class="m-alert__wrapper py-4">
    <div class="m-alert__container container mx-auto flex items-center justify-stretch">
      {% if text %}
        <div class="m-alert__content grow mr-2">
          <div class="m-alter__body text-black">
            {{ text }}
          </div>
        </div>
      {% endif %}
      {% if is_dismissible -%}
        {# The dismiss (close) button must have the class js-dismiss-button in order to work. #}
        <button class="close js-dismiss-button self-start" aria-label="{{ 'close'|t }}">
          <span aria-hidden="true">×</span>
        </button>
      {%- endif %}
    </div>
  </div>
</div>
