{#
  Template
#}

{% set classes = [
  't-content-page',
	't-content-page--default'
] %}

<article{{attributes.addClass(classes)}}>
  {% if title %}
    <div class="t-content-page__title">
      <h1 class="mb-4">{{ title }}</h1>
    </div>
  {% endif %}
  {% if intro %}
    <div class="t-content-page__intro text-md text-coolgrey mb-4 tablet:mb-7">
      {{ intro }}
    </div>
  {% endif %}
  {% if content %}
    <div class="t-content-page__content">
      {{ content }}
    </div>
  {% endif %}
</article>
