.eu-cookie-compliance-banner {
	background: red;

	.header--expand {
		.nav-link {
			padding-top: .4375rem;
			padding-bottom: .4375rem;

			&.show-outline,
			&[aria-expanded="true"] {
				background-color: unset;
				outline: 0.1875rem solid red !important;
				outline-offset: -0.0875rem;

				.dropdown-icon {
					&.fa-chevron-down {
						transform: rotate(-180deg);
						transition: transform 150ms ease;
					}
				}
			}

			.fa-chevron-down {
				transform: rotate(-360deg);
				transition: transform 150ms ease;
			}
		}

		.fa-chevron-down {
			transform: rotate(-360deg);
			transition: transform 150ms ease;
		}

		.dropdown-toggle:after {
			content: '';
			border: none;
		}
	}
}