{% set classes = [
  'o-messages-region',
  'w-full order-5'
] %}
<section{{ attributes.addClass(classes) }}>
  <div class="container mx-auto w-full">
    {% if content is iterable  %}
      {% for item in content %}
        {{ item }}
      {% endfor %}
    {% else %}
      {{ content }}
    {% endif %}
  </div>
</section>
