@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=d7fca3f0-6395-46cb-b050-6d686b7ea13e&fontids=1475738,1475746");

@font-face{
  font-family:"Frutiger";
  src:url("../../assets/fonts/0811514e-6660-4043-92c1-23d0b8caaa2f.woff2") format("woff2"),url("../../assets/fonts/aeae8cac-ba4d-40d2-bbcf-936f2c7dcfe6.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face{
  font-family:"Frutiger";
  src:url("../../assets/fonts/8c92eb68-ce37-4962-a9f4-5b47d336bd1c.woff2") format("woff2"),url("../../assets/fonts/9bdfdcac-bbd4-46a9-9280-056c9a4438a2.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@layer base {
  html {
    font-family: 'Frutiger', arial, system-ui, sans-serif;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: theme('fontWeight.bold');
  }
  h1 {
    font-size: theme('fontSize.lg');
    @screen tablet {
      font-size: theme('fontSize.2xl');
    }
  }
  h2 {
    font-size: theme('fontSize.md');
    @screen tablet {
      font-size: theme('fontSize.xl');
    }
  }
  h3 {
    font-size: theme('fontSize.sm');
    @screen tablet {
      font-size: theme('fontSize.md');
    }
  }
  h4 {
    font-size: theme('fontSize.base');
    @screen tablet {
      font-size: theme('fontSize.sm');
    }
  }
  h5 {
    font-size: theme('fontSize.xs');
    @screen tablet {
      font-size: theme('fontSize.sm');
    }
  }
  h6 {
    font-size: theme('fontSize.xs');
    @screen tablet {
      font-size: theme('fontSize.sm');
    }
  }
  a:not(.a-button) {
    text-decoration-line: underline;
    transition: all 75ms ease-in-out;

    &:hover {
      text-decoration-line: none;
    }
    &:focus {
      outline: none;
      color: theme('colors.black.100') !important;
      background-color: theme('colors.focus.DEFAULT');
      text-decoration-line: underline;
      text-decoration-thickness: 4px;
      text-underline-offset: 4px;
    }
  }
  .t-content a:not(.a-button) {
    color: theme('colors.forest.100');

    &:hover {
      color: theme('colors.forest.300');
    }
  }
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
