.m-topic {
  background: rgba(204, 222, 219, 0.5);

  &:hover {
    background: #ccdedb;

    .m-topic__link {
      @apply no-underline;
      @apply focus:underline;
    }
  }

  &__link {
    @apply text-black underline font-bold mb-2;
    @apply focus:bg-focus focus:text-black focus:underline focus:decoration-4 focus:underline-offset-4;
    @apply after:content-[''] after:absolute after:block after:inset-x-0 after:inset-y-0;
  }

  &:last-child {
    background: #fbeecc;

    &:hover {
      background: #f9e6b2;
    }
  }
}
