{#
  Template
#}
<section class="m-hero relative">
  <div class="m-hero__container container mx-auto mb-6 tablet:flex tablet:flex-row-reverse">
  	<div class="m-hero__image w-full tablet:w-4/12 tablet:max-height-[340px]">
  		{{ image }}
  	</div>
    {% if heading or text %}
      <div class="m-hero__content w-full tablet:w-8/12 relative z-1 mt-9">
        <div class="m-hero__copy py-4 tablet:py-8 px-4 lg:px-8 bg-green-60 text-black relative">
          <h2 class="font-bold">{{ heading }}</h2>
          <div>{{ icon }}</div>
          {{ text }}
        </div>
      </div>
    {% endif %}
  </div>
</section>
