.content-list-section {
  border-bottom: 1px solid var(--color-black);
  padding-bottom: var(--content-list-section-spacing);
  margin-bottom: var(--content-list-section-spacing-small);
}
.content-list-section .content-list-section-title {
  font-size: var(--content-list-section-title);
}

.content-list-section a {
  font-size: var(--content-list-section-link-font-size);
  color: var(--content-list-section-link-colour);
}

.content-list-section .content-list-section-links-group-main-link {
  font-weight: var(--content-list-section-link-font-weight);
}

/*.content-list-section .content-list-section-links li:not(:last-child){*/
/*  background: red;*/
/*  padding-bottom: 1rem;*/
/*}*/

.content-list-section .content-list-section-links {
  list-style: var(--content-list-section-link-list-style);
  padding: 0;
}

.content-list-section .content-list-section-links-group {
  padding-bottom: var(--content-list-section-link-list-padding);
}

.content-list-section .content-list-section-links .content-list-section-links-group-children li:not(:last-child) {
  padding-bottom: var(--content-list-section-link-list-padding);
}

.content-list-section .content-list-section-links .content-list-section-links-group-children {
  list-style: var(--content-list-section-link-list-style);
  padding-inline-start: calc(var(--content-list-section-link-list-padding-inline)*0.5);
  padding-top: var(--content-list-section-link-list-padding);
}

.paragraph--type--content-listing {
  margin: var(--content-list-section-spacing-large) 0;
}

@media screen and (min-width: 48rem) {
  .content-list-section .content-list-section-links .content-list-section-links-group-children {
    padding-inline-start: var(--content-list-section-link-list-padding-inline);
  }
}
