{% set classes = [
  'm-cta-banner',
  'm-cta-banner--' ~ layout|clean_class,
  'py-4',
] %}
<div{{ attributes.addClass(classes) }}>
  <div class="m-cta-banner__container tablet:flex tablet:gap-4">
    <div class="m-cta-banner__content tablet:w-6/12 tablet:flex tablet:flex-col tablet:justify-between tablet:ml-4">
      <h2 class="m-cta-banner__title text-md mb-4">{{ title }}</h2>
      <div class="m-cta-banner__description tablet:grow">{{ description }}</div>
    </div>
    <div class="m-cta-banner__media tablet:w-6/12 mb-4 tablet:mb-0">
      {{ media }}
    </div>
  </div>
</div>
