@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=d7fca3f0-6395-46cb-b050-6d686b7ea13e&fontids=1475738,1475746");

@font-face {
  font-family:"Frutiger";
  font-weight: normal;
  src:
    url("../../../assets/fonts/frutiger-roma.woff2") format("woff2"),
    url("../../../assets/fonts/frutiger-roma.woff") format("woff")
}

@font-face {
  font-family:"Frutiger";
  font-weight: bold;
  src:
    url("../../../assets/fonts/frutiger-bold.woff2") format("woff2"),
    url("../../../assets/fonts/frutiger-bold.woff") format("woff");
}
