{% set table_rows = [] %}

{% for result in results %}
  {# Theme title row #}
  {% set table_rows = table_rows|merge([
    '<tr><td colspan="2"><h3>' ~ result['#title']|e ~ '</h3></td></tr>'
  ]) %}

  {# Summary result text #}
  {% if result['#result']['content'][0]['#text'] is defined %}
    {% set table_rows = table_rows|merge([
      '<tr><td style="border-left: #29a189 solid 2px; padding-left: 20px">' ~ result['#result']['content'][0]|e ~ '</td></tr>',
      '<tr><td><br></td></tr>'
    ]) %}
  {% endif %}

{% endfor %}

{# Handle case where no results exist #}
{% if table_rows is empty %}
  {% set table_rows = [
    '<tr><td colspan="2" style="border-left: #29a189 solid 2px; padding-left: 20px">{{ "No results available"|t }}</td></tr>'
  ] %}
{% endif %}

<table class="results" border="0" cellpadding="10" cellspacing="10" width="100%">
  <tbody>
  {{ table_rows|join("\n")|raw }}
  </tbody>
</table>
