{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}
<span id="main-content"></span>

<div class="themed-summary-tool-step tool-step">

  {{ form }}

</div>
