<div class="m-tool-search-criteria mb-16">
  <div class="m-tool-search-criteria__listing mt-2">
    {% if section %}
      <div class="m-tool-search-criteria__criteria">
        <h4 class="font-bold">{{ section }}</h4>
      </div>
    {% endif %}
    {% if answers %}
      <div class="m-tool-search-criteria__answers">
        <ul class="list-disc pt-2 pl-4">
          {% for key, answer in answers %}
            <li class="mb-2 text-xs text-coolgrey">{{ answer }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
</div>
