{% set classes = [
  'o-local-tasks',
  'w-full order-8'
] %}
<section{{ attributes.addClass(classes) }}>
  <nav role="navigation" aria-label="{{ 'Tabs'|t }}" class="container mx-auto">
    {{ content }}
  </nav>
</section>
